:root {
    --primary-color: #e14e6f;
    --secondary-color: #57b2b0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    width: 500px;
    margin: auto;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
p {
    text-align: center;
}
