:root {
    --primary-color: #e14e6f;
    --secondary-color: #57b2b0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: auto;
}
a {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    text-align: center;
    border: 1px solid;
    border-top: 0;
    padding: 10px;
    transition: .3s;
}
a:hover{
    background: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);

}
h1 {
    text-align: center;
}
iframe {
    display: block;
    border: 0;
}

ul li {
    float: left;
    margin: 0 15px 15px 0;
}